<header class="header ptb-4">
    <div class="container">
        <div class="header-wrap d-flex ai-c jc-sb">
            <div class="column-4">
                <div class="header-logo">
                    <a href="index.html" class="logo"><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="" class="logo-img"></a>
                </div>
            </div>
            <div class="column">
                <ul class="header-menu ptb-4 d-flex jc-fe">
                    <li class="menu-link mr-16"><a href="pages.html">系列鏡框</a></li>
                    <li class="menu-link mr-16"><a href="#">門市據點</a></li>
                    <li class="menu-link mr-16"><a href="#">部落格</a></li>
                    <li class="menu-link"><a href="#">常見問題</a></li>
                </ul>
            </div>   
        </div>
    </div>
</header>