@import "./base/reset";
@import "./helpers/variables";
@import './layout/header.scss';
@import './layout/footer.scss';

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

*,*::before, *::after {
    box-sizing: border-box;
    // outline: 1px solid $color-black;
}
a {
    text-decoration: none;
}

body {
    font-family: "Roboto" , "Noto Sans TC" , sans-serif;
    line-height: 1.5;
    
}
.color-1 {
    color: $color-white;
}
.color-2 {
    color: $color-black;
}
.color-3 {
    color: $color-primary;
}
.color-4 {
    color: $color-secondary;
}
.bg-color-1 {
    background-color: #5F3E2D;
}
.bg-color-2 {
    background-color: #B75929;
}
.bg-color-3 {
    background-color: #000000;
}
h1 {
    font-size: 64px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 24px;
}
.title-eng {
    background-color: #FFFFFF;
    padding: 8px 0;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 900;
    text-align: center;
}

.ptb-4 {
    padding: 16px 0;
}
.ptb-6 {
    padding: 24px 0;
}
.ptb-20 {
    padding: 80px 0;
}
.pt-20 {
    padding-top: 80px;
}

.mr-6 {
    margin-right: 24px;
}
.mr-12 {
    margin-right: 48px;
}
.ml-12 {
    margin-left: 48px;
}
.mr-16 {
    margin-right: 64px;
}
.mr-2 {
    margin-right: 8px;
}
.mb-2 {
    margin-bottom: 8px;
}
.mb-4 {
    margin-bottom: 16px;
}
.mb-6 {
    margin-bottom: 24px;
}
.mb-8 {
    margin-bottom: 32px;
}
.mb-20 {
    margin-bottom: 80px;
}



.container {
    max-width: 1296px;
    margin: 0 auto;
    padding-right: 12px;
    padding-left: 12px;
}
.column-4 {
    width: 25%;
}
.column-3 {
    width: 33.3333%;
}
.column-2 {
    width: 50%;
}
.column {
    width: 100%;
}


/* flex */
.d-flex {
    display: flex;
}
.ai-c {
    align-items: center;
}
.ai-fe {
    align-items: flex-end;
}
.jc-fe {
    justify-content: flex-end;
}
.jc-sb {
    justify-content: space-between;
}
.jc-fs {
    justify-content: flex-start;
}
.jc-c {
    justify-content: center;
}
.fld-col {
    flex-direction: column;
}
.flex-ww {
    flex-wrap: wrap;
}

/* header */
.header {
    background-color: $color-primary;
}
.logo-img {
    width: 80px;
}
.menu-link a {
    color: $color-white;
}

/* banner */
.banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-wrap { 
    height: 787px;
}
.banner-subtitle {
    font-size: 36px;
    color: $color-secondary;
}
.banner-title {
    font-size: 64px;
    color: $color-secondary;
    font-weight: bold;
    margin-bottom: 4px;
}
.banner-btn {
    padding: 6px 12px ;
    background-color: $color-primary;
}
.banner-btn a {
    color: #FFFFFF;
}

/* feature */
.feature {
    background-color: $color-white;
}
.text-align-center {
    text-align: center;
}
.font-bold {
    font-weight: bold;
}

.feature-list {
    margin-right: -12px;
    margin-left: -12px;
}
.feature-detail {
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 24px;
}

.feature-title {
    font-weight: bold;
}
.feature-img {
    width: 84px;
} 
.series-list {
    margin-right: -12px;
    margin-left: -12px;
}
.series-list li {
    margin-bottom: 24px;
}
.series-items {
    padding-right: 12px;
    padding-left: 12px;
}
.design {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.design-list {
    justify-content: center;
}
.customer-list {
    padding-right: 12px;
    padding-left: 12px;
}
.customer-wrap {
    margin-right: -12px;
    margin-left: -12px;
}
.customer-items {
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    height: 512px;
}
.customer-detail {
    padding: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.customer-name {
    margin-bottom: 8px;
}
.customer-date {
    margin-top: auto;
    color: #707070;
}


.contact {
    background-color: $color-white;
}

.form-input {
    border: 1px solid $color-black;
    background-color: transparent;
}
.contact-wrap {
    width: 636px;
    margin: 0 auto;
}
.contact-tip {
    margin-bottom: 24px;
}
.form-checkbox {
    margin-right: 8px;
}

.footer {
    background-color: $color-primary;
    padding-top: 48px;
    padding-bottom: 32px;
}
.form-input-title {
    margin-bottom: 8px;
}
.form-input {
    padding: 6px 12px;
    font-size: 16px;
}
.form-set-textarea {
    height: 136px;
}
.form-checkbox-wrap {
    align-items: center;
}
.form-checkbox {
    width: 24px;
    height: 24px;
}
.form-button-wrap {
    text-align: center;
}
.form-button {
    width: 416px;
    padding: 16px 0;
    background-color: $color-primary;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-top: 48px;
    border: none;
}
.footer-menu-link a {
    font-size: 16px;
    color: #ffffff;
}
.icon-social-img {
    width: 48px;
}
.icon-social {
    margin-left: 32px;
}

.footer-contact-text {
    color: #FFFFFF;
}
.copy-right {
    color: #ffffff;
}
.footer-line {
    color: #ffffff;
    margin: 32px 0;
}
.footer-contact {
    margin-bottom: 32px;
    margin-top: 32px;
}
.footer-copy {
    padding-top: 32px;
    border-top: 1px solid #ffffff;
}
.footer-link a {
    color: #ffffff;
}
.foorer-contact-img {
    padding: 10px;
}
.foorer-contact-img span {
    font-size: 36px;
    color: #FFFFFF;
}




// pages
/* banner-pages */
.banner-img-1 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 296px;
}

.banner-img-2 {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* tab-menu */
.tab-menu-wrap {
    margin-right: -12px;
    margin-left: -12px;
}
.tab-menu-items {
    border: 1px solid #DCDCDC;
}
.tab-menu-items-active {
    border: 1px solid #DCDCDC;
    box-shadow: 0 -8px 0 #AA0601 inset;
}
.tab-menu-items:hover {
    /* background-color: #f1f1f1; */
    box-shadow: 0 -8px 0 #AA0601 inset;
}
.tab-menu-items:active {
    box-shadow: 0 -8px 0 #AA0601 inset;
}
.tab-menu-items-title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
/* product */
.product {
    margin: 0 auto;
}
.product-wrap {
    margin-right: -12px;
    margin-left: -12px;
}
.product-title {
    font-size: 42px;
}
.product-subtitle {
    font-size: 32px;
}
.product-card {
    padding-left: 12px;
    padding-right: 12px;
}

.product-color-solid {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}
.product-price {
    font-weight: 600;
}


.font-bold {
    font-weight: bold;
}

.design {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.design-list {
    justify-content: center;
}

// page-number
.page-number-item {
    padding: 12px 16px;
    border: 1px solid #555555;
}
.page-number-item:active {
    background-color: #000000;
    color: #ffffff;
}
.page-number-item:hover {
    background-color: #F2F2F2;
    color: #555555;
}
.page-number-item-hover {
    background-color: #000000;
}
.page-number-item-link {
    color: #555555;
}
.page-number-item-link-hover {
    color: #ffffff;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
    .column-3 {
        width: 100%;
    }
    .title-eng {
        font-size: 40px;    
    }
}
@media (max-width: 768px){
    h2 {
        font-size: 24px;
    }
    .column-2 {
        width: 100%;
    }
    .column-3 {
        width: 100%;
    }
    .column-4 {
        width: 50%;
    }
    .banner {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
    .banner-img-1 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true");
        height: 296px;
    }
    .banner-img-2 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true");
        height: 296px;
    }
    .tab-menu-items-title {
        font-size: 24px;
    }
    .contact-wrap {
        width: 100%;
    }
    .feature-title {
        font-size: 48px;
    }
    .feature-subtitle {
        font-size: 24px;
    }
    .feature-list {
        flex-wrap: wrap;
    }
    .series-title {
        font-size: 48px;
    }
    .series-list {
        flex-wrap: wrap;
        text-align: center;
    }
    .series-items img {
        width: 336px;
        margin: 0 auto;
    }
    .design-title {
        font-size: 48px;
    }
    .design-list {
        flex-wrap: wrap;
    }
    .customer-title {
        font-size: 48px;
    }
    .customer-wrap {
        flex-wrap: wrap;
    }
    .customer-list {
        margin-bottom: 24px;
    }
    .title-eng {
        font-size: 48px;    
    }
    .footer-menu {
        display: none;
    }
    .footer-contact {
        margin-top: 0;
    }
}

@media (max-width: 576px){
    h2 {
        font-size: 24px;
    }
    .column-3 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
    }
    .column-4 {
        width: 100%;
    }
    .header {
        padding-bottom: 0;
    }
    .header-menu {
        padding-bottom: 0;
    }
    .header .container {
        padding-right: 0;
        padding-left: 0;
    }
    .header-wrap {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header-logo {
        padding-left: 12px;
    }
    .header-menu {
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .menu-link {
        margin-right: 0;
        border: 1px solid #ffffff;
        padding: 16px 0;
        width: 50%;
        text-align: center;
    }
    .tab-menu-items-title {
        font-size: 16px;
    }
    .banner {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    }
    .banner-wrap {
        height: 396px;
    }
    .banner-subtitle {
        font-size: 16px;
    }
    .banner-title {
        font-size: 24px;
    }
    .banner-btn a {
        font-size: 20px;
    }
    .banner-img-1 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true");
        height: 136px;
    }
    .banner-img-2 {
        background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true");
        height: 136px;
    }
    .feature {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .feature-list {
        flex-wrap: wrap;
    }
    .series {
        padding-top: 40px;
        padding-bottom: 0;
    }
    .design {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .series-list {
        flex-wrap: wrap;
    }
    .design-list {
        flex-wrap: wrap;
    }
    .design-items {
        margin-bottom: 24px;
    }
    .customer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .customer-wrap {
        flex-wrap: wrap;
    }
    .customer-list {
        margin-bottom: 16px;
        height: 512px;
    }
    .customer-items img {
        width: 348px;
        margin: 0 auto;
    }
    .contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contact-wrap {
        width: 100%;
    }
    .feature-title {
        font-size: 24px;
    }
    .series-title {
        font-size: 24px;
    }
    .design-title {
        font-size: 24px;
    }
    .customer-title {
        font-size: 24px;
    }
    .form-checkbox-wrap {
        align-items: start;
    }
    .form-button {
        width: 100%;
    }
    .footer {
        padding-top: 32px;
    }
    .footer-menu {
        display: none;
    }
    .footer-left {
        width: 100%;
    }
    .footer-right {
        width: 100%;
    }
    .footer-contact {
        margin-top: 0;
    }
    .footer-contact-text {
        font-size: 16px;
    }
    .footer-contact-text .color-1:hover {
        color: #000000;
    }
    .footer-copy {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer-link {
        margin-top: 8px;
    }
    .foorer-contact-img span {
        font-size: 18px;
    }
    .icon-social {
        width: 24px;
        margin-left: 8px;
    }
    .social-list {
        flex-direction: row-reverse;
    }
}