<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
        <div class="container">
            <div class="banner-wrap d-flex ai-c jc-fe">
                <div class="column-2">
                    <div class="d-flex ai-fe fld-col jc-fe">
                        <h3 class="banner-subtitle">Promise-Desert 2020 早春系列</h3>
                        <h1 class="banner-title">看得清，才能看得遠</h1>
                        <div class="banner-btn"><a href="">立即購買</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="feature ptb-20">
        <div class="container">
            <div class="feature-wrap">
                <h2 class="text-align-center color-4 mb-8 font-bold">用專業的心，做專業的事</h2>
                <ul class="d-flex feature-list">
                    <li class="column-3">
                        <div class="feature-detail d-flex jc-c fld-col ai-c">
                            <img class="feature-img mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-1.png?raw=true" alt="">
                            <h4 class="feature-title color-4 mb-2">單一價格</h4>
                            <p class="color-2">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                        </div>
                    </li>
                    <li class="column-3">
                        <div class="feature-detail d-flex jc-c fld-col ai-c">
                            <img class="feature-img mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-2.png?raw=true" alt="">
                            <h4 class="feature-title color-4 mb-2">20 分鐘即可取件</h4>
                            <p class="color-2">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                        </div>
                    </li>
                    <li class="column-3">
                        <div class="feature-detail d-flex jc-c fld-col ai-c">
                            <img class="feature-img mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section2-3.png?raw=true" alt="">
                            <h4 class="feature-title color-4 mb-2">安心售後服務</h4>
                            <p class="color-2">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                        </div>
                    </li>
                    <li class="column-3">
                        <div class="feature-detail d-flex jc-c fld-col ai-c">
                            <img class="feature-img mb-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-sectioin2-4.png?raw=true" alt="">
                            <h4 class="feature-title color-4 mb-2">關於鏡片</h4>
                            <p class="color-2">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="series ptb-20">
        <div class="container">
            <div class="series-wrap">
                <h2 class="text-align-center color-4 mb-8 font-bold">經典系列鏡框</h2>
                <ul class="d-flex series-list">
                    <li class="column-3"> 
                        <div class="series-items">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true" alt="" class="series-img">
                            <h2 class="title-eng color-3">OPTICAL</h2>
                        </div>  
                    </li>
                    <li class="column-3">
                        <div class="series-items">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true" alt="" class="series-img">
                            <h2 class="title-eng color-3">SUNGLASSES</h2>
                        </div>
                    </li>
                    <li class="column-3">
                        <div class="series-items">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true" alt="" class="series-img">
                            <h2 class="title-eng color-3">FUNCTIONAL</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="design ptb-20">
        <div class="container">
            <h2 class="text-align-center color-1 mb-8 font-bold">聯名設計鏡框</h2>
            <ul class="design-list d-flex">
                <li class="column-2">
                    <div class="design-items">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true" alt="" class="design-img">
                        <h2 class="title-eng color-3 font-bold text-align-center">DOUBLE A+</h2>
                    </div>
                </li>
                <li class="column-2">
                    <div class="design-items">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true" alt="" class="design-img">
                        <h2 class="title-eng color-3 font-bold text-align-center">YOUTH</h2>
                    </div>
                </li>
            </ul>    
        </div>
    </div>
    <div class="customer ptb-20">
        <div class="container">
            <h2 class="text-align-center color-4 mb-8 font-bold">顧客推薦</h2>
            <ul class="customer-wrap d-flex">
                    <li class="column-3 customer-list">
                        <div class="customer-items d-flex fld-col">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true" alt="">
                            <div class="customer-detail jc-fs">
                                <p class="customer-name">Jessy</p>
                                <p class="customer-text">眼鏡品質優良，下次還會想來這邊購買！</p>
                                <time class="customer-date">2021/06/20</time>  
                            </div>  
                        </div>      
                    </li>
                    <li class="column-3 customer-list">
                        <div class="customer-items d-flex fld-col">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true" alt="">
                            <div class="customer-detail jc-fs">
                                <p class="customer-name">凱倫</p>
                                <p class="customer-text">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                                <time class="customer-date">2021/04/18</time>
                            </div>  
                        </div>
                    </li>
                    <li class="column-3 customer-list">
                        <div class="customer-items d-flex fld-col">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true" alt="">
                            <div class="customer-detail jc-fs">
                                <p class="customer-name">悠悠</p>
                                <p class="customer-text">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                                <time class="customer-date">2021/04/18</time>
                            </div> 
                        </div>
                    </li>
                    <li class="column-3 customer-list">
                        <div class="customer-items d-flex fld-col">
                            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true" alt="">
                            <div class="customer-detail jc-fs">
                                <p class="customer-name">Kyuan</p>
                                <p class="customer-text">服務很好，品質沒有任何問題，非常喜歡。</p>
                                <time class="customer-date">2020/10/31</time>
                            </div>
                        </div>
                    </li>
            </ul>    
        </div>
    </div>
    <div class="contact ptb-20">
        <div class="container">
            <div class="contact-wrap">
                <div class="column">
                    <h2 class="text-align-center color-4 mb-8 font-bold">聯絡我們</h2>
                <p class="contact-tip">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                <form action="" class="form-list">
                    <div class="form-set d-flex fld-col mb-4">
                        <label class="form-input-title" for="姓名">姓名</label>
                        <input class="form-input" type="text" placeholder="陳小明" for="姓名" >
                    </div>
                    <div class="form-set d-flex fld-col mb-4">
                        <label class="form-input-title" for="聯絡電話">聯絡電話</label>
                        <input class="form-input" type="tel" placeholder="0912-345-678" for="聯絡電話">
                    </div>
                    <div class="form-set d-flex fld-col mb-4">
                        <label class="form-input-title" for="電子郵件">電子郵件</label>
                        <input class="form-input" type="email" placeholder="example@email.com" for="電子郵件">
                    </div>
                    <div class="form-set d-flex fld-col mb-4">
                        <label class="form-input-title" for="意見反應">意見反應</label>
                        <input class="form-input form-set-textarea" type="textarea" placeholder="請輸入您的意見" for="意見反應">
                    </div>
                    <div class="form-set d-flex form-checkbox-wrap">
                        <input class="form-checkbox mr-2" type="checkbox" id="vehicle1" name="vehicle1" value="Bike" for="vehicle1">
                        <label for="vehicle1">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                    </div>
                    <div class="form-button-wrap">
                        <button class="form-button">確認送出</button>
                    </div>
                    
                </form>
                </div> 
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>



<!-- 這一行 -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
